/*-----------------------------------*\
 * #style.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */





/*-----------------------------------*\
 * #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
   */

  --united-nations-blue: hsl(214, 56%, 58%);
  --bright-navy-blue: hsl(214, 57%, 51%);
  --spanish-gray: hsl(0, 0%, 60%);
  --black-coral: hsl(225, 8%, 42%);
  --oxford-blue: hsl(208, 97%, 12%);
  --yale-blue: hsl(214, 72%, 33%);
  --blue-ncs: hsl(197, 100%, 36%);
  --gunmetal: hsl(206, 34%, 20%);
  --gainsboro: hsl(0, 0%, 88%);
  --cultured: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --onyx: hsl(0, 0%, 25%);
  --jet: hsl(0, 0%, 20%);

  /**
   * typography
   */

  --ff-poppins: "Poppins", sans-serif;
  --ff-montserrat: "Montserrat", sans-serif;

  --fs-1: calc(20px + 3.5vw);
  --fs-2: calc(18px + 1.6vw);
  --fs-3: calc(16px + 0.45vw);
  --fs-4: 15px;
  --fs-5: 14px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 11px;

  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;

  /**
   * transition
   */

  --transition: 0.25s ease-in-out;

  /**
   * spacing
   */

  --section-padding: 10px;

  /**
   * border-radius
   */

  --radius-15: 15px;
  --radius-25: 25px;

}





/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none; }

a { text-decoration: none; }

a,
img,
span,
input,
label,
button,
ion-icon { display: block; }

input,
button {
  background: none;
  border: none;
  font: inherit;
}

button { cursor: pointer; }

input { width: 100%; }

ion-icon { pointer-events: none; }

html {
  font-family: var(--ff-poppins);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body { background: var(--white); 
  overflow-x: hidden;
}

@media (max-width: 768px) {
body,html{
  overflow-x: hidden;
}
}

/*-----------------------------------*\
 * #REUSED STYLE
\*-----------------------------------*/

.container { 
  padding-inline: 16px;
 }

.btn {
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--fs-5);
  border-radius: 100px;
  padding: var(--padding, 8px 18px);
  border: var(--border-width, 2px) solid transparent;
  transition: var(--transition);
  display:flex;
 justify-content: center;
}

.btn-primary {
  background: var(--bright-navy-blue);
  border-color: var(--bright-navy-blue);
}

.btn-primary:is(:hover, :focus) {
  background: var(--yale-blue);
  border-color: var(--yale-blue);
}

.btn-secondary { border-color: var(--white); }

.btn-secondary:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.1); }

.h1,
.h2,
.h3 {
  font-weight: var(--fw-800);
  font-family: var(--ff-montserrat);
  text-transform: uppercase;
}

.h1 {
  color: var(--white);
  font-size: var(--fs-1);
}

.h2,
.h3 { color: var(--gunmetal); }

.h2 { font-size: var(--fs-2); }

.h3 {
  font-size: var(--fs-3);
  font-weight: var(--fw-700);
}

.section-subtitle {
  color: var(--bright-navy-blue);
  font-size: var(--fs-5);
  text-transform: uppercase;
  font-family: var(--ff-montserrat);
  margin-bottom: 10px;
}

.section-title { margin-bottom: 14px; }

.section-text {
  color: var(--black-coral);
  margin-top: 20px;
}

.card-text {
  color: var(--black-coral);
  font-size: var(--fs-5);
}





/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 61px;
  z-index: 4;
}

.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: var(--transition);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  padding-block: 15px;
  z-index: 1;
}

.header.active .header-top {
  position: fixed;
  background: var(--gunmetal);
}

.header-top .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-start;
  align-items: center;
}

.helpline-box .wrapper { display: none; }

.helpline-box .icon-box {
  background: var(--bright-navy-blue);
  padding: 6px;
  border-radius: 50%;
  color: var(--white);
}

.helpline-box .icon-box ion-icon { --ionicon-stroke-width: 40px; }

.header-top .logo { margin-inline: auto; }

.header-top .logo img { max-width: 100px; }

.header-btn-group {
  justify-self: flex-end;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--white);
}

.search-btn,
.nav-open-btn {
  font-size: 30px;
  color: inherit;
}

.search-btn { font-size: 20px; }

.header-bottom { border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);

}

.header-bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
  margin-top: 8px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.social-link {
  color: var(--white);
  padding: 8px;
  border: 1px solid hsla(0, 0%, 100%, 0.3);
  border-radius: 50%;
  font-size: 15px;
  transition: var(--transition);
}

.social-link:is(:hover, :focus) { background: hsla(0, 0%, 100%, 0.2); }

.header .btn { --padding: 4px 20px; }

.header .navbar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background: var(--white);
  visibility: hidden;
  pointer-events: none;
  transition: 0.15s ease-in;
  z-index: 3;
}

.navbar.active {
  right: 0;
  visibility: visible;
  pointer-events: all;
  transition: 0.25s ease-out;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 15px;
}

.navbar-top .logo img { width: 150px; }

.nav-close-btn {
  font-size: 20px;
  color: var(--bright-navy-blue);
}

.nav-close-btn ion-icon { --ionicon-stroke-width: 80px; }

.navbar-list { border-top: 1px solid hsla(0, 0%, 0%, 0.1); }

.navbar-list li { border-bottom: 1px solid hsla(0, 0%, 0%, 0.1); }

.navbar-link {
  padding: 22px 10px;
  color: var(--jet);
  font-weight: var(--fw-500);
  font-size: var(--fs-4);
  transition: var(--transition);
  text-transform: capitalize;
}

.navbar-link:is(:hover, :focus) { color: var(--bright-navy-blue); }

.overlay {
  position: fixed;
  inset: 0;
  background: var(--black);
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: var(--transition);
}

.overlay.active {
  opacity: 0.7;
  pointer-events: all;
}





/*-----------------------------------*\
 * #HERO
\*-----------------------------------*/

.hero {
  background-image: url("../images/hero-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: hsla(0, 0%, 0%, 0.7);
  background-blend-mode: overlay;
  display: grid;
  place-items: center;
  min-height: 600px;
  text-align: center;
  padding-top: 125px;
}

.hero-title { 
  margin-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
}


.hero-text {
  color: var(--white);
  font-size: var(--fs-5);
  margin-bottom: 40px;
}

.btn-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media (max-width: 768px) {
  .hero-title{
    text-align: end;
    justify-content: center;
  }
    .hero {
      height: 700px;
    }
  
}




/*-----------------------------------*\
 * #TOUR SEARCH
\*-----------------------------------*/

.tour-search {
  
  padding-block: var(--section-padding);
}

.tour-search-form .input-label {
  color: var(--white);
  font-size: var(--fs-4);
  margin-left: 20px;
  margin-bottom: 10px;
}

.tour-search-form .input-field {
  background: var(--white);
  padding: 10px 15px;
  font-size: var(--fs-5);
  border-radius: 50px;
}

.tour-search-form .input-field::placeholder { color: var(--spanish-gray); }

.tour-search-form .input-field::-webkit-datetime-edit {
  color: var(--spanish-gray);
  text-transform: uppercase;
}

.tour-search-form .input-wrapper { margin-bottom: 15px; }

.tour-search .btn {
  width: 100%;
  --border-width: 1px;
  font-weight: var(--fw-600);
  margin-top: 35px;
}





/*-----------------------------------*\
 * #POPULAR
\*-----------------------------------*/

.popular { padding-block: var(--section-padding); }

.popular-list,
.popular-list > li:not(:last-child) { margin-bottom: 30px; }

.popular-card {
  position: relative;
  overflow: hidden;
  border-radius: var(--radius-25);
  height: 430px;
}

.popular-card .card-img { height: 100%; }

.popular-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-card .card-content {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background: var(--white);
  border-radius: var(--radius-25);
  padding: 20px;
}


.popular-card .card-rating {
  background: var(--bright-navy-blue);
  color: var(--white);
  position: absolute;
  top: 0;
  right: 25px;
  display: flex;
  align-items: center;
  gap: 1px;
  transform: translateY(-50%);
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.popular-card .card-subtitle {
  color: var(--blue-ncs);
  font-size: var(--fs-6);
  text-transform: uppercase;
  margin-bottom: 8px;
}

.popular-card .card-title { margin-bottom: 5px; }

.popular-card :is(.card-subtitle, .card-title) > a { color: inherit; }

.popular .btn { margin-inline: auto; }





/*-----------------------------------*\
 * #PACKAGE
\*-----------------------------------*/

.package { padding-block: var(--section-padding); }

.package-list { margin-bottom: 40px; }

.package-list > li:not(:last-child) { margin-bottom: 30px; }

.package-card {
  background: var(--cultured);
  overflow: hidden;
  border-radius: 15px;
}

.package-card .card-banner { height: 250px; }

.package-card .card-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.package-card .card-content { padding: 30px 20px; }

.package-card .card-title { margin-bottom: 15px; }

.package-card .card-text {
  line-height: 1.6;
  margin-bottom: 20px;
}

.card-meta-list {
  background: var(--white);
  max-width: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.15);
  border-radius: 50px;
}

.card-meta-item { position: relative; }

.card-meta-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -1px;
  bottom: 4px;
  width: 1px;
  background: hsla(0, 0%, 0%, 0.3);
}

.meta-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-inline: 9px;
  color: var(--black-coral);
  font-size: var(--fs-8);
}

.meta-box > ion-icon {
  color: var(--bright-navy-blue);
  font-size: 13px;
}

.package-card .card-price {
  background: var(--united-nations-blue);
  color: var(--white);
  padding: 25px 20px;
  text-align: center;
}

.package-card .card-price .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px 15px;
  margin-bottom: 10px;
}

.package-card .card-price .reviews { font-size: var(--fs-5); }

.package-card .card-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  font-size: 14px;
}

.package-card .card-rating ion-icon:last-child { color: hsl(0, 0%, 80%); }

.package-card .price {
  font-size: var(--fs-2);
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-800);
  margin-bottom: 20px;
}

.package-card .price span {
  font-size: var(--fs-7);
  font-weight: initial;
}

.package .btn { margin-inline: auto; }





/*-----------------------------------*\
 * #GALLERY
\*-----------------------------------*/

.gallery { padding-block: var(--section-padding); }

.gallery-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
 
}
@media (max-width:768px) {
.gallery-list {
margin-top: -130px;
}
}
.gallery-image {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-15);
  overflow: hidden;
}

.gallery-item:nth-child(3) { grid-area: 1 / 2 / 3 / 3; }

.gallery-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}



/*-----------------------------------*\
 * #CTA
\*-----------------------------------*/

.cta {
  background: var(--bright-navy-blue);
  padding-block: var(--section-padding);
}

.cta :is(.section-subtitle, .section-title, .section-text) { color: var(--white); }

.cta .section-text { font-size: var(--fs-5); }





/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.footer-top {
  background: var(--gunmetal);
  padding-block: var(--section-padding);
  color: var(--gainsboro);
}

.footer-brand { margin-bottom: 10px; }

.footer-brand img { width: 180px; }

.footer-brand .logo { margin-bottom: 2px; }

.footer-text {
  font-size: var(--fs-5);
  line-height: 1.7;
}

.footer-contact { margin-bottom: 30px; }

.contact-title {
  position: relative;
  font-family: var(--ff-montserrat);
  font-weight: var(--fw-500);
  margin-bottom: 30px;
}

.contact-title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 50px;
  height: 2px;
  background: var(--bright-navy-blue);
}

.contact-text {
  font-size: var(--fs-5);
  margin-bottom: 15px;
  max-width: 200px;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contact-item ion-icon { --ionicon-stroke-width: 40px; }

.contact-link,
address {
  font-style: normal;
  color: var(--gainsboro);
  font-size: var(--fs-5);
}

.contact-link:is(:hover, :focus) { color: var(--white); }

.form-text {
  font-size: var(--fs-5);
  margin-bottom: 20px;
}

.footer-form .input-field {
  background: var(--white);
  font-size: var(--fs-5);
  padding: 15px 20px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.footer-form .btn { width: 100%; }

.footer-bottom {
  --gunmetal: hsl(205, 36%, 17%);
  background: var(--gunmetal);
  padding-block: 20px;
  text-align: center;
}

.copyright {
  color: var(--gainsboro);
  font-size: var(--fs-5);
  margin-bottom: 10px;
}

.copyright a {
  color: inherit;
  display: inline-block;
}

.copyright a:is(:hover, :focus) { color: var(--white); }

.footer-bottom-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 21px;
}

.footer-bottom-list > li { position: relative; }

.footer-bottom-list > li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -10px;
  bottom: 3px;
  width: 1px;
  background: hsla(0, 0%, 100%, 0.2);
}

.footer-bottom-link {
  color: var(--gainsboro);
  font-size: var(--fs-7);
  transition: var(--transition);
}

.footer-bottom-link:is(:hover, :focus) { color: var(--white); }





/*-----------------------------------*\
 * #GO TO TOP
\*-----------------------------------*/

.go-top {
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 45px;
  height: 45px;
  background: var(--bright-navy-blue);
  color: var(--white);
  display: grid;
  place-items: center;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.5);
  opacity: 0;
  transform: translateY(10px);
  visibility: hidden;
  transition: var(--transition);
}

.go-top.active {
  opacity: 0.8;
  transform: translateY(0);
  visibility: visible;
}

.go-top:is(:hover, :focus) { opacity: 1; }





/*-----------------------------------*\
 * #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for larger than 580px screen
 */

@media (min-width: 580px) {

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 580px;
    margin-inline: auto;
  }

  .btn {
    --fs-5: 16px;
    --padding: 12px 30px;
  }

  section:not(.cta) :is(.section-subtitle, .section-title, .section-text) {
    text-align: center;
  }

  .section-text { margin-bottom: 40px; }

  .card-text { --fs-5: 15px; }



  /**
   * HEADER
   */

  .header { padding-top: 76px; }

  .helpline-box .icon-box { padding: 14px; }

  .header-top .logo img { max-width: unset; }

  .search-btn { font-size: 30px; }

  .nav-open-btn { font-size: 40px; }

  .header .btn {
    --fs-5: 14px;
    --padding: 6px 20px;
  }



  /**
   * HERO
   */

  .hero {
    min-height: 800px;
    padding-top: 85px;
  }

  .hero-text { --fs-5: 15px; }

  .btn-group { gap: 20px; }



  /**
   * TOUR SEARCH
   */

  .tour-search-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
    gap: 15px;
  }

  .tour-search-form .input-wrapper { margin-bottom: 0; }

  .tour-search-form .input-field { padding: 16px 20px; }

  .tour-search .btn {
    grid-column: span 2;
    margin-top: 20px;
  }



  /**
   * POPULAR
   */

  .popular-card .card-content { right: auto; }



  /**
   * FOOTER
   */

  .footer .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .footer-form { grid-column: span 2; }

  .footer-bottom { text-align: left; }

  .copyright { margin-bottom: 0; }

  .footer-bottom-list { justify-content: flex-end; }

}



/**
 * responsive for larger than 768px screen
 */
 @media (max-width: 768px) {
  .social-link,.btn1 {
    margin-top: 10px;
  }
.wrapper{
    display: block;
  }
 
 }
 @media (max-width:500px) {
 .wrapper{
    display: block;
  }

 }
@media (min-width: 768px) {
 
  /**
   * CUSTOM PROPERTY
   */
   .wrapper{
    display: block;
  }
  :root {

    /**
     * typography
     */

    --fs-5: 15px;

  }



  /**
   * REUSED STYLE
   */

  .container {
     max-width: 800px;
 
  }
 
  .section-text {
    max-width: 60ch;
    margin-inline: auto;
  }



  /**
   * HEADER
   */

  .helpline-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  .helpline-box .wrapper {
    display: block;
    color: var(--white);
    font-size: var(--fs-6);
  }

  .social-list { gap: 10px;  }



  /**
   * POPULAR
   */

  .popular-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-bottom: 50px;
  }

  .popular-list > li:not(:last-child) { margin-bottom: 0; }

  .popular-card .card-content { right: 20px; }



  /**
   * PACKAGE
   */

  .package-list { margin-bottom: 50px; }

  .package-list > li:not(:last-child) { margin-bottom: 40px; }

  .package-card {
    display: grid;
    grid-template-columns: 1.3fr 1.5fr 1fr;
  }

  .package-card .card-banner { height: 100%; }

  .package-card .card-content { padding: 40px; }

  .package-card .card-price {
    display: grid;
    place-content: center;
  }

  .package-card .card-price .wrapper { margin-bottom: 15px; }



  /**
   * GALLERY
   */

  .gallery { padding-bottom: calc(var(--section-padding * 2)); }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .gallery-image { border-radius: var(--radius-25); }



  /**
   * CTA
   */

  .cta .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta-content { width: calc(100% - 225px); }

  .cta .section-text { margin-inline: 0; }



  /**
   * FOOTER
   */

  .form-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
  }

  .footer-form .input-field { margin-bottom: 0; }

  .footer-form .btn { width: max-content; }

}





/**
 * responsive for larger than 992px screen
 */

 @media (min-width: 992px) {

  /**
   * REUSED STYLE
   */

  .container { max-width: 1150px; }

  .wrapper{
    display: block;
  }

  /**
   * HEADER
   */

  .header.active .header-top {
    position: unset;
    background: unset;
  }

  .nav-open-btn,
  .navbar-top { display: none; }

  .header-bottom { border-bottom: none; }

  .header.active .header-bottom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--white);
    color: var(--onyx);
    box-shadow: 0 2px 5px hsla(0, 0%, 0%, 0.08);
    transition: var(--transition);
  }

  .header-bottom .container { padding-block: 0; }

  .header .navbar { all: unset; }

  .navbar-list {
    border-top: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-list li { border-bottom: none; }

  .navbar-link {
    color: var(--white);
    --fs-4: 16px;
    font-weight: unset;
    text-transform: uppercase;
    padding: 20px 15px;
  }

  .header.active .navbar-link { color: var(--onyx); }

  .header.active .navbar-link:is(:hover, :focus) { color: var(--bright-navy-blue); }

  .header.active .social-link {
    color: var(--onyx);
    border-color: hsla(0, 0%, 0%, 0.15);
  }

  .overlay { display: block; }



  /**
   * HERO
   */

  .hero .container { max-width: 740px; }



  /**
   * TOUR SEARCH
   */

  .tour-search-form { grid-template-columns: repeat(5, 1fr); }

  .tour-search .btn {
    --padding: 15px;
    grid-column: unset;
    margin-top: 0;
  }



  /**
   * POPULAR
   */

  .popular-list { grid-template-columns: repeat(3, 1fr); }



  /**
   * PACKAGE
   */

  .meta-box { --fs-8: 13px; }

  .meta-box > ion-icon { font-size: 15px; }



  /**
   * CTA 
   */

  .cta .section-title { max-width: 25ch; }



  /**
   * FOOTER
   */

  .footer-top .container {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }

  .footer-form { grid-column: unset; }

  .form-wrapper { flex-direction: column; }

  .footer-form .btn { width: 100%; }

}





/**
 * responsive for larger than 1200px screen
 */

@media (min-width: 1200px) {

  /**
   * CUSTOM PROPERTY
   */
   .wrapper{
    display: block;
  }
  :root {

    /**
     * spacing
     */

    --section-padding: 100px;

  }



  /**
   * REUSED STYLE
   */

  .container { max-width: 1180px; }

}


:root {
--bs-card-title-spacer-y: 0.5rem;
--bs-card-inner-border-radius: calc(0.375rem - 1px);
--bs-card-spacer-y: 1rem;
--bs-card-spacer-x: 1rem;
--bs-border-color-translucent: rgba(0, 0, 0, 0.175);
}
.card-title{
	font-size: 25px;
}
.card-description{
	font-size: 14px;
}
.card button{
	background: #000;
	color: #fff;
	width: 100%;
	height: 50px;
}
.card button:hover{
	
	background: #fff;
	border: 2px solid #000;
	color: #000;
	
}
.card-container{
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
	padding: 40px;
}
.card{
	width: 265px;
	transition: 0.3s;
	margin: 18px;
}
.card:hover{
	box-shadow: 2px 2px 10px -3px black;
	transform: translateY(-10px);
}
.card-img, .card-img-top, .card-img-bottom{
  width: 100%;
}

img, svg {
  vertical-align: middle;
}
.card-description {
  font-size: 14px;
}
.card{

background: rgba(255, 255, 255, 0.14);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.9px);
-webkit-backdrop-filter: blur(2.9px);
border: 1px solid rgba(255, 255, 255, 1);
}
.card-body {
  flex: 1 1 auto;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
  color: var(--bs-card-color);
}
.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
}
.card-img, .card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
}
.card-title {
  margin-bottom: var(--bs-card-title-spacer-y);
}




/*about*/
.about{
  padding: 50px 10%;
}
.about-container {
  display: grid;
justify-content: center;
  gap: 1rem;
  margin-top: 2rem;

}

.about-img img {
  width: 80%;
  border-radius: 0.5rem;
  margin-top: -110px;
}

.about-text p {
  font-size: var(--p-font);
  font-weight: 400;
  text-align: center;

}
.fc{
  text-align: center;
  display: flex;
  justify-content: center;
}
.information {
  margin: 1rem 0 1.4rem;
text-align: center;

}

.information .info-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.4rem;
justify-content: center;
}

.information .info-box .bx {
  font-size: 22px;
}

.information .info-box span {
  font-weight: 400;
  margin-left: 1rem;
}
.heading {
  text-align: center;
}

.heading h2 {
  font-size: 40px;
}

.heading span {
  font-size: var(--p-font);
  color: rgb(2, 166, 70);
}

@media (max-width: 768px) {
  .about-container {
    grid-template-columns: 1fr;
  }
  .information .info-box span {
  text-align: center;
  }
  .about-img {
    display: flex;
    justify-content: center;
  }
  

}

.container1{
	margin: 4% auto;
	width: 210px;
	height: 140px;
	position: relative;
	perspective: 1000px;
}
#carousel{
	width: 80%;
	height: 100%;
	position: absolute;
	transform-style: preserve-3d;
	animation: rotation 20s infinite linear;
}
#carousel:hover{
	animation-play-state: paused;
}
#carousel img{
	display: block;
	position:absolute;
	width: 230px;
	height: 200px;
	left: 60px;
	top: 86px;
overflow: hidden;
	border: solid 1px black;
}
#carousel figure:nth-child(1){transform: rotateY(0deg) translateZ(288px);}
#carousel figure:nth-child(2) { transform: rotateY(40deg) translateZ(288px);}
#carousel figure:nth-child(3) { transform: rotateY(80deg) translateZ(288px);}
#carousel figure:nth-child(4) { transform: rotateY(120deg) translateZ(288px);}
#carousel figure:nth-child(5) { transform: rotateY(160deg) translateZ(288px);}
#carousel figure:nth-child(6) { transform: rotateY(200deg) translateZ(288px);}
#carousel figure:nth-child(7) { transform: rotateY(240deg) translateZ(288px);}
#carousel figure:nth-child(8) { transform: rotateY(280deg) translateZ(288px);}
#carousel figure:nth-child(9) { transform: rotateY(320deg) translateZ(288px);}


img{
		cursor: pointer;
	transition: all .5s ease;
}

img:hover{
  transform: scale(1.2,1.2);
}

@keyframes rotation{
	from{
		transform: rotateY(0deg);
	}
	to{
		transform: rotateY(360deg);
	}
}
@media (max-width: 768px) {
  .container1{
margin-top: -20px;
  }
  .about-text{
    margin-top: 40px;
  }
 
}
@media (max-width: 980px) {
  .container1{
 justify-content: center;
 position: relative;
 left:40px;
      }
  .about-container {
    grid-template-columns: 1fr;
  }

  .about-img {
    display: flex;
    justify-content: center;
  }

    }

/*contact*/
.contact{
  padding: 50px 10%;
  margin-top: 30px;
}
.heading1 {
  text-align: center;
position: relative;
top: 20px;
}

.heading1 h2 {
  font-size: 40px;
}

.heading1 span {
  font-size: var(--p-font);
  color: rgb(2, 166, 70);
}
    .contact-form {
      display: grid;
      place-items: center;
      margin-top: 2rem;
    }
    
    .contact-form form {
      display: flex;
      flex-direction: column;
      width: 650px;
    }
    
    form input,
    textarea {
      padding: 15px;
      border-radius: 0.5rem;
      width: 100%;
      border: none;
      outline: none;
      background: hsla(260, 100%, 44%, 0.1);
      margin-bottom: 1rem;
      color: var(--text-color);
    }
    
    form input::placeholder,
    textarea::placeholder {
      color: var(--text-color);
    }
    
    form textarea {
      resize: none;
      height: 200px;
    }
    
    .contact-button {
      width: 160px;
      cursor: pointer;
      background: #2768d9;
      color: #fff;
      justify-content: center;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-left: 35%;
    }
    
    .contact-button:hover {
      background: var(--bright-navy-blue);
    }
    .container3{
      display: flex;
      justify-content: center;
    }
    @media (max-width:768px) {
      .container3{
        position: relative;
        top:50px;
  
      }
     .package{
      margin-top: 65px;
     }
      .contact-form form {
        width: 300px;
      }
    
      .contact-button {
        margin-left: 25%;
      }
      .contact{   
        margin-top: 40px;
      }
    }
    

    /*slide footer*/


    :root {
      --animationSpeed: 40s;
      --gunmetal: hsl(206, 34%, 20%);
    }
    
    /* Keyframes */
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-250px * 7));
      }
    }
    
    /* Styling */
    .slider {
      background-color: var(--gunmetal);
      height: 100px;
      margin: auto;
      overflow: hidden;
      position: relative;
      width: 100%;
      margin-top: -100px;
    }
    
    @media (max-width:768px) {
      .slider {
        background-color:var(--gunmetal);; /* Apply the same color in the media query */
        height: 100px;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 100%;
        border: none;
      }
    }
    
    .slide-track {
      animation: scroll var(--animationSpeed) linear infinite;
      display: flex;
      width: calc(250px * 14);
    }
    
    .slide {
      height: 100px;
      width: 250px;
    }
    

/*background*/


.slider1 {
  overflow: hidden;
  position: relative;
}
.slider1 .container {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  padding: 20px;
}
@media (max-width:768px) {
.slider1 .container {
  margin-top: -70px;
}
.isotope{
  margin-top: 85px;
}
.ses{
  font-size: 23px;
  margin-top: 10px;
}
.card-container{
  margin-top: -10px;
}
}
.slider1 .slide1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  animation: slide 20s linear infinite;
}

.slider1 .slide1:nth-child(1) {
  background-image: url('https://wallpapers.com/images/featured/dominica-background-wgtzoabp4ro54oh1.jpg');
  animation-delay: -0;
}

.slider1 .slide1:nth-child(2) {
  background-image: url('../images/Borcelle.png');
  animation-delay: -2s;
}
  
.slider1 .slide1:nth-child(3) {
  background-image: url('../images/ph1.png');
  animation-delay: -4s;
}
  
.slider1 .slide1:nth-child(4) {
  background-image: url('../images/Untitleddesign.png');
  animation-delay: -6s;
}

.slider1 .slide1:nth-child(5) {
  background-image: url('../images/Untitleddesign(1).png');
  animation-delay: -8s;
}

@keyframes slide {
  0%, 15%, 100% {
    transform: translateX(0);
    animation-timing-function: ease;
    opacity: 1;
  }
  20% {
    transform: translateX(-100%);
    animation-timing-function: step-end;
    opacity: 0;
  }
  95% {
    transform: translateX(100%);
    animation-timing-function: ease;
    opacity: 1;
  }
}


/*slide picture*/
.carousel-container {
  border-radius: 30px;
  overflow: hidden;
  max-width: 800px;
  position: relative;
  box-shadow: 0 0 30px -20px #223344;
  margin: auto;
  z-index: 0;
  margin-top: 60px;
}
.heading34 span {
  font-size: 20px;
  color: rgb(2, 166, 70);
  text-align: center;
}
.cfc{
  text-align: center;
}
.heading35{
  font-size: 20px;
  color: black;
  text-align: center;
  margin-top: 13px;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  display: block;
  width: 100%;
}

/* image gradient overlay [optional] */
/*  .mySlides::after {
  content: "";
  position: absolute;
  inset: 0;
    background-image: linear-gradient(-45deg, rgba(110, 0, 255, .1), rgba(70, 0, 255, .2));
} */

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: 20px;
  color:black ;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 8px 8px 0;
  background: rgba(173, 216, 230, 0.1);
  user-select: none;
}
.next {
  right: 0;
  border-radius: 8px 0 0 8px;
}
.prev:hover,
.next:hover {
  background-color: rgba(173, 216, 230, 0.3);
}

/* Caption text */
.textq {
  color: magenta;
  background-color:yellow;
  backdrop-filter: blur(6px);
  border-radius: 10px;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

/* Number text (1/3 etc) */
.number {
  color: #f2f2f2;
  font-size: 16px;
  background-color: rgba(173, 216, 230, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

/* The dots/bullets/indicators */
.dots {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  backdrop-filter: blur(2px);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}


/* transition animation */
.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 2s;
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }
  to {
    transform: scale(1) rotateY(0deg);
  }
}


/*carouse about owner*/

.max-width33{
  max-width: 1300px;
  padding: 0 50px;
  margin: auto;
}
.teams .carousel .card34 {
  background: url('../images/zebedee.jpg');
  background-size: cover;
  transition: background-size 0.3s; /* Add a smooth transition */
  border-radius: 6px;
  padding: 25px 35px;
  text-align: center;
  overflow: hidden;
  margin-top: -20px;
  transition: all 0.3s ease;
}
.teams .carousel .card34:hover {
  background-size: 100%; /* Expand the background image to cover the card on hover */
}

.teams .carousel .card34 .box34 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.teams .carousel .card34:hover .box34 {
  transform: scale(1.05);
}
.teams .carousel .card34 .text34 {
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
.vv{
  text-align: center;
  font-size: 35px;
}
.teams .carousel .card34 img {
  height: 150px;
  width: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid magenta;
  transition: all 0.3s ease;
}
.teams .carousel .card34:hover img {
  border-color: #fff;
}
.owl-dots {
  text-align: center;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.owl-dot {
  height: 13px;
  width: 13px;
  padding: 50px 10%;
  outline: none!important;
  border-radius: 50%;
  border: 2px solid crimson!important;
  transition: all 0.3s ease;
  display: flex;
}
.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}
.owl-dot.active,
.owl--dot:hover {
  background: crimson!important;
}
.title34:after{
  position: absolute;
  top:30px;
}
.title34:before{
  position: absolute;
  top:40px;
}
.title34{
  text-align: center;
}

/* end carousel about owner*/



/*isotope image choose*/

.container_menu_iso {
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  font-family: "Raleway", sans-serif;
  margin: 2rem 0;
  width: 900px;
margin: auto;
}


.container_menu_iso .menu_iso li {
  float: left;
  list-style: none;
  padding: 10px 15px;
  cursor: pointer;

}

@media screen and (max-width: 600px) {
  .container_menu_iso .menu_iso li {
    padding: 10px 6px;
  position:relative;
  left:30px;
  }
}

.container_menu_iso .menu_iso li a {
  font-style: italic;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: 5px 5px 13px #6e6e6e, -5px -5px 13px #ffffff;
  box-shadow: 5px 5px 13px #6e6e6e, -5px -5px 13px #ffffff;
}

.container_menu_iso .menu_iso li a:hover {
  color: #151c2f;
  -webkit-box-shadow: inset 5px 5px 13px #6e6e6e, inset -5px -5px 13px #ffffff;
  box-shadow: inset 5px 5px 13px #6e6e6e, inset -5px -5px 13px #ffffff;
}

@media screen and (max-width: 600px) {
  .container_menu_iso .menu_iso li a {
    padding: 15px;
    font-size: 0.8rem;
  }
}

/* Main settings isotopes images */
.img_iso {
  position: relative;
  cursor: pointer;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
  width: 300px;
  margin: 10px;
left: 80px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;

}

@media screen and (max-width: 768px) {
  .img_iso {
    height: 230px;
    width: 230px;
    position: relative;
    left: 40px;
  }

  .container_menu_iso {
margin: auto;
width: 300px;
position: relative;
left: -30px;
}
}
@media screen and (max-width: 600px) {
  .img_iso {
    height: 180px;
    width: 160px;
  }
}

@media screen and (max-width: 425px) {
  .img_iso {
    height: 250px;
    width: 250px;
  }
}

.img_iso:hover {
  -webkit-box-shadow: 6px 4px 11px 3px #999999;
  box-shadow: 6px 4px 11px 3px #999999;
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/*=============================================
=     Isotopes Images                        =
=============================================*/

/* Blue Patterns */

.blu1 {
  background-image: url("https://www.themandarin.com.au/wp-content/uploads/2023/03/visa.jpg?w=1024");
  background-size: cover;
  background-position: center center;
}
.blu2 {
  background-image: url("https://edvoy-strapi-assets.s3.ap-south-1.amazonaws.com/toefl_for_canada_student_visa_5e564439b5.jpg");
  background-size: cover;
  background-position: center center;
}
.blu3 {
  background-image: url("https://images.unsplash.com/photo-1520690214124-2405c5217036?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center center;
}
.blu4 {
  background-image: url("https://images.unsplash.com/photo-1417721955552-a49ac2d334e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center center;
}

.blu5 {
  background-image: url("https://www.immihelp.com/assets/article-images/sample-canada-visitors-visa.png");
  background-size: cover;
  background-position: center center;
}
.blu6 {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzcvEM9Y-_FVBv0Ehw7pbLKR3PR0HGPg60Qg&usqp=CAU");
  background-size: cover;
  background-position: center center;
}
.blu7 {
  background-image: url("https://images.unsplash.com/photo-1487029752779-a0c17b1f5ec9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center center;
}
.blu8{
  background-image: url("https://images.unsplash.com/photo-1516368694098-47836cebec97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center center;
}



.blu9 {
  background-image: url("https://www.chinadiscovery.com/assets/images/travel-guide/china-visa/china-3-month-single-entry-visa.jpg");
  background-size: cover;
  background-position: center center;
}
.blu10{
  background-image: url("https://images.unsplash.com/photo-1534179523731-b2922018150a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
  background-position: center center;
}


/*----------  Overlay with text on image hover ----------*/

.overlay23 {
  background-color: rgba(30, 32, 32, 0.472);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: scale(0);
  transition: all 0.4s ease-in-out;
}

/* On hover, the overlay text will "zoom" in display */
.img_iso:hover .overlay23 {
  transform: scale(1);
}

/* Some text inside the overlay, which is positioned in the middle vertically and horizontally */
.text454 {
  font-family: "Raleway", sans-serif;
  color: magenta;
  font-size: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

/*end isotope image choose*/